.container {
  background-color: rgb(91, 86, 86);
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%; 
  height: 400px; /* or any fixed/auto size */
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 90%);

  position: absolute;
  display: block;
}

.summaryDiv {
  position: absolute;
  width: 50%;
  background-color:rgb(91, 86, 86);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); /* moved down */
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
