.container {
  background-color: rgb(91, 86, 86);
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 80%);
  position: absolute;
  display: block;
}

.summaryDiv {
  position: absolute;
  width: 50%;
  background-color: rgb(91, 86, 86);
  top: 240px;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.itemsDiv {
  width: 60%;
  max-width: 700px;
  margin: 400px auto 0 auto; 
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.itemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.price {
  color: #a86932;
  font-weight: bold;
}

.actionSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.amountBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.amountBox input {
  width: 45px;
  padding: 5px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 6px;
  text-align: center;
}

button {
  background-color: #8a2b06;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  
}